button {
  font-size: 24px;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  background-color: #f0f0f0;
  color: #000;
  cursor: pointer;
  outline: none;
}

.button--winner{
  background-color: green;
  color: #f0f0f0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  background-image: url(xie.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.div--board{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 230px;
  margin:5px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 75px);
  gap: 4px;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #f0f0f0;

}

.div--text{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 5px;
  font-weight: bold;
  font-size: 24px;
  color: #f0f0f0;
}

.div--status{
  background-color: green;
  color: #f0f0f0;
  border-radius: 5px;
}

.div--status--winner{
  background-color: green;
  color: #f0f0f0;
}

.div--board--reset{
  display: flex;
  justify-content: center;
  align-items: center;

}

#btn--reset{
  background-color: red;
  color: #f0f0f0;
  height: 50px;
  margin-top: 5px;
  font-size: 16px;
  border: 2px solid #f0f0f0;
  border-radius: 5px;

}
